*{
margin:0;
padding:0;
box-sizing:border-box;
}

.container{
   background-image: linear-gradient(135deg,#3D0551, #6738E0);
   display : flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

#card{
    background-color: #1046c57e;
    border-radius: 20px;
    height: 805px;
    width: 432px;
    font-family: "KoHo", sans-serif;
    color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-weight: 400;
        font-size: 2.5rem;
        padding-bottom: 40px;
        padding-top: 40px;
    }
}
#fotoperfil{
    background-image: url(./assets/fotos/Imagem\ colada.png);
    background-size: cover;
    background-position: center;
    width: 271px;
    height: 290px;
    border-radius: 50%;
   
}
.buttonSocial{
    display: flex;
    align-items: center;
    border-radius: 50px;
    width: 255px;
    height: 50px;
    background-color: #00000030;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 27px;
    cursor:pointer;
    padding-left: 35px;

    img{
        height: 24px;
    }
    p{
        padding-left: 15px;
    }
}
.buttonSocial:hover{
    background-color: #00000050;
}
